body {
  overflow-x: hidden;
  background: $brown;
}

.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #563609;
  overflow: hidden;
  height: 116vh;
  padding-top: 0;
  padding-bottom: 0;
  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container {
    max-width: 100%;
    width: 100%;
    height: 100%;

    .row {
      height: 100%;
    }
  }

  .beach-img {
    img {
      width: 100%;
      bottom: 0;
      height: 100%;
      object-fit: cover;
      margin-bottom: 0;
    }

  }

  h1 {
    color: #f5d09c;
    font-size: 42px;
    font-weight: bold;
    line-height: 61px;
    @include media-breakpoint-up(md) {
      width: 92%;
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  h2 {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: #f5d09c;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $steel;
    display: none;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}

.left-col {
  display: flex;
  align-items: center;
  justify-content: center;
}


.strip.first {
  margin-bottom: 4rem;
  background: $brown;
  .right-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 6rem !important;
    padding-right: 6rem !important;
    text-align: left;
    background: $brown;

    h2 {
      font-family: $font-family-base;
      color: $light-brown;
    }
    p {
      padding-left: 0;
      padding-top: 0;
      color: $light-brown;
    }
  }
}

.strip.second {
  .row {
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    margin-right: 0 !important;
    margin-left: 0 !important;
    color: #f5d09c;
    img {
      width: 100%;
      height: 100%;
    }

    .right-col {

      padding-right: 0;
      padding-left: 0;

      h2 {
        color: #f5d09c;
      }

      img {
        right: 0;

      }
    }

    .left-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
  }
}